@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

/* Bebas neue regular: nombre logo. Titulos/secciones principales.
Monserrat: textos secundarios. */

/* --- CONFIGURACIONES INICIALES --- */
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --negro: rgb(16,32,34);  
    --gradiente : linear-gradient(180deg, rgba(16,32,34,1) 0%, rgba(83, 83, 83,0.914)99%);
    --grisoscuro: #3c3c3b;
    --grismedio: #575756;
    --grisclaro: #706F6F;
    --blanco: #FFFFFF;
    --verdenav: #2E8780; 
    --verdefooter1: #77bda3;
    --verdefooter2: #263D42;
}

/* --- HEADER --- */

.main-header{
    background-color: var(--verdefooter2);
    padding: 20px;
}
.main-logo{
    display: flex;
    align-items: center;
    justify-content:space-between;    
}

.logo{
    width: 70px;
    border-radius: 50%;
}
.logo:hover {
    transform: rotate(70deg);
    transition-duration:1.3s;
}
.logo-title1{
    font-family: 'Bebas Neue', cursive;
    color:var(--blanco);
    font-size: 18px;
    padding-left: 20px;
}
.logo-title2{
    font-family: 'Bebas Neue', cursive;
    color:var(--blanco);
    font-size: 22px;
}
.nav-iconos{
    padding: 10px 0 10px 10px;
    text-align: center;
    font-size: 20px;

}
.nav-iconos a {
    color:  var(--blanco);
    padding-inline-start: 5px;
    
}
.usuario {
    padding: 10px 0 10px 10px;
    text-align: center;
    font-size: 20px;
    color:  var(--blanco);
    margin-right: 5px;
}

.burger-button{
    color: var(--blanco);
    padding: 10px 10px 10px 0;
    text-align: center;
    font-size: 20px;
}
.main-nav{
    display: none;
    transition: 0.2s;
    
}
.main-nav ul li a:hover {
    color: #11101b;
    background: #fefefe;
    padding: 8px;
    border-radius: 5px;

}
.main-body{
    background: var(--negro);
    background: var(--gradiente);
}
/* --- MAIN --- */


/* --- FOOTER PRINCIPAL --- */
.footer{
    background-color: var(--verdenav);
}
.footer-main-1{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.footer-nav ul{
    list-style: none;
}
.footer-title{
    font-size: 12px;
    color: var(--negro);
}
.footer-nav a, .footer-texto{
    text-decoration: none;
    color: var(--blanco);
    font-size: 10px;
    font-weight: normal;
}
.footer-icono i{
    color: var(--grisoscuro);
}
.footer-info iframe {
    display: none;
}
.footer-social {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 28px;
    padding: 20px;
    color: #fefefe;
    background-color:var(--verdefooter2);
}
/* BOTONCITO DEL WHATSAP */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:80px;
	right:50px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:45px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.my-float{
	margin-top:8px;
}
@media(min-width: 576px){
    .logo{
        width: 80px;
    }
    .usuario {
        font-size: 30px;
        margin-right: 5px;
    }
    
    .burger-button{
        color: var(--blanco);
        padding: 10px;
        text-align: center;
        font-size: 30px;
    }
    .logo-title1{
        font-size: 26px;
    }
    .logo-title2{
        font-family: 'Bebas Neue', cursive;
        color:var(--blanco);
        font-size: 30px;
    }
    .nav-iconos{
        padding: 10px;
        text-align: center;
        font-size: 25px;
    }
}
@media(min-width: 768px){
    .main-header{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
    }
    .burger-button{
        display: none;
    }
    .nav-iconos{
        font-size: 35px;
    }
    .main-logo{
        justify-content: space-between;
        width: 100%;
    }
    .logo{
        width: 130px;
    }
    .logo-title1 ,.logo-title2{
        margin-left: auto;
        margin-right: auto;
    }
    .logo-title1{
        font-size: 46px;
    }
    .logo-title2{
        font-size:50px ;
    }
    .main-nav{
        width: 100%;
        display: flex;
    }
    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin-top: 10px;
    }
    .navbar a{
        color:var( --blanco);
        text-decoration:none;
        font-size: 14px;
    } 
    .nav-iconos{
        padding: 10px;
        text-align: center;
        font-size: 20px;
    }
    .footer-info iframe {
        display: flex;
    }    
}
@media(min-width: 1200px) {
    .logo{
        width: 180px;
    }
}