@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

/* Bebas neue regular: nombre logo. Titulos/secciones principales.
Monserrat: textos secundarios. */

/* --- CONFIGURACIONES INICIALES --- */
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* IMPORTANTE LOS VALORES SE MODIFICA EN LOS VAR Y DESPUES
    HAY QUE AGREGAR VAR(Y EL NOMBRE) */
    /* COLORES */
    --blanco: #FFFFFF;
    --verde-footer1: #2E8780; 
    --verde: #77bda3;
    --verde-nav-footer: #263D42;
    --mostaza : #FAA916;
    --rojo: #96031A;
    /* FIRST MOVIL */
    --title-nav-MF: 24px;
    --title2-nav-MF: 26px;
    --title-footer-MF: 16px;
    --texto-footer-texto-MF: 12px;
    --button-nav-MF: 20px;
    /* MIN-WIDTH: 576px */
    --title-nav-576px: 32px;
    --title2-nav-576px: 36px;
    --title-footer-576px: 12px;
    --texto-footer-texto-576px: 12px;
    /* MIN-WIDTH: 768px */
    --title-nav-768px: 48px;
    --title2-nav-768px: 52px;
    --title-footer-768px: 12px;
    --texto-footer-texto-768px: 12px;
    /* MIN-WIDTH: 1200px */
    --title-nav-1200px: 48px;
    --title2-nav-1200px: 52px;
    --title-footer-1200px: 12px;
    --texto-footer-texto-1200px:12px;
}

/* --- HEADER --- */

.main-header{
    background-color: var(--verde-nav-footer);
    padding: 10px;
}
.main-logo{
    display: flex;
    align-items: center;
    justify-content:space-around;    
}

.logo{
    width: 80px;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all;
    -webkit-transition: transform 1300ms ease-in-out;
    -moz-transition:transform 1300ms ease-in-out;
    -ms-transition:transform 1300ms ease-in-out;
}
.logo:hover {
/*      transform:rotate(70deg); 
    transition-duration:1.3s; */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transition:all;
     -webkit-transition: transform 1300ms ease-in-out;
    -moz-transition:transform 1300ms ease-in-out;
    -ms-transition:transform 1300ms ease-in-out;

}
.logo-title1{
    font-family: 'Bebas Neue', cursive;
    color:var(--blanco);
    font-size: var(--title-nav-MF);
/*     padding-left: 20px; */
}
.logo-title2{
    font-family: 'Bebas Neue', cursive;
    color:var(--blanco);
    font-size: var(--title2-nav-MF);
}
.nav-iconos{
    display: none;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: var(--button-nav-MF);

}
.nav-iconos a {
    color:  var(--blanco);
    padding-inline-start: 5px;
    margin: 4px;
}
.usuario {
    display: none;
    padding: 10px 0 10px 0px;
    text-align: center;
    font-size: var(--button-nav-MF);
    color:  var(--blanco);
    margin-right: 5px;
}

.burger-button{
    color: var(--blanco);
    padding: 10px 10px 10px 0;
    text-align: center;
    font-size: var(--button-nav-MF);
}
.main-nav{
    display: none;
    transition: 0.2s;
    
}
.main-nav ul li a:hover {
    color: var(--blanco);
    background: var(--verde);
    padding: 8px;
    border-radius: 5px;

}
.main-body{
    background: var(--negro);
    background: var(--gradiente);
}
/* --- MAIN --- */
/* ESTE MAIN ES DE PRUEBA, SE DEBE BORRAR */
.main-body {
    background: var(--blanco);
}
.photo img{
    width: 100vw;
}
.litle-photo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.litle-photo {
    width: 80%;
    margin: auto;
    /* background-color: var(--verde) */
}
.litle-photo img{
    width: 50%;
    padding: 10px 10px;
    border-radius: 10%;
}



/* ACA TERMINO EL MAIN, HASTA AHI SE PUEDE BORRAR */
/* --- FOOTER PRINCIPAL --- */
.footer{
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    background-color: var(--verde-footer1);

    
}
.footer-main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    text-align: center;
    
}

.footer-nav ul{
    list-style: none;
}
.footer-title , .footer-texto{
    font-size: var(--title-footer-MF);
    color: var(--negro);
    font-size: 11px;
  
}

.footer-pay {
    line-height: 1.3rem;
}
.footer-nav a, .footer-info h5 , .footer-icono h4{
    text-decoration: none;
    color: var(--blanco);
    font-size: 10px;
    font-weight: normal;
    line-height: 1.3rem;


}
.footer-icono i{
    color: var(--grisoscuro);
    font-size: 20px;
    padding-top: 5px;
    margin: auto;
}
.footer-entrega iframe {
    display: none;
}
.footer-texto-entrega{
    text-decoration: none;
    color: var(--blanco);
    font-size: 10px;
    font-weight: normal;
    line-height: 1.3rem; 
}

.footer-copyright{
    text-align: left;
    padding: 10px 10px;
    font-size: 9px;
    color: var(--blanco);

}
.footer-social {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--button-nav-MF);
    padding: 15px;
    color: var(--blanco);
    background-color:var(--verde-nav-footer);
}
/* BOTONCITO DEL WHATSAP */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:33%;
	right:30px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:45px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.my-float{
	margin-top:8px;
}
@media(min-width: 576px){
    .logo{
        width: 90px;
    }
    .usuario {
        font-size: 30px;
        margin-right: 5px;
    }
    
    .burger-button{
        color: var(--blanco);
        padding: 10px;
        text-align: center;
        font-size: 30px;
    }
    .logo-title1{
        font-size: var(--title-nav-576px);
    }
    .logo-title2{
        font-family: 'Bebas Neue', cursive;
        color:var(--blanco);
        font-size: var(--title2-nav-576px);
    }

    .nav-iconos{
        padding: 10px;
        text-align: center;
        font-size: 25px;
    }
    .footer-copyright{
        text-align: left;
        padding: 10px 10px;
        font-size: var(--title-footer-576px);
        color: var(--blanco);
    
    }
}

@media(min-width: 768px){
    .main-header{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        padding: 20px;
    }
    .main-logo{
        justify-content: space-between;
        width: 100%;
    }
    .logo{
        width: 130px;
    }
    .logo-title1 ,.logo-title2{
        margin-left: auto;
        margin-right: auto;
    }
    .logo-title1{
        font-size: var(--title-nav-768px);
    }
    .logo-title2{
        font-size:var(--title2-nav-768px) ;
    }

    .usuario{
        display: flex;
    }
    
    .burger-button{
        display: none;
    }
    .nav-iconos{
        display: flex;
    }
    .nav-iconos a {
        font-size: 30px;
        padding: 10px;
        text-align: center;
        font-size: 20px;
    }
    .main-nav{
        width: 100%;
        display: flex;
    }
    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin-top: 10px;
    }
    .navbar a{
        color:var( --blanco);
        text-decoration:none;
        font-size: 14px;
    } 
  
    .footer-title , .footer-texto{
        font-size: var(--title-footer-MF);
        color: var(--negro);
        font-size: 16px; 
    }
    .footer-nav a, .footer-info h5{
        font-size: 14px;
        line-height: 2.2rem;
    }
    .footer-texto-entrega {
        display: none;
    }
    .footer-entrega  iframe {
        display: flex;
        width: 220px;
        height: 200px;
        margin: 10px 0 0 0;
    }
    .footer-pay {
        line-height: 2.5rem;
        font-size: 1.4rem;
    }

    .footer-icono i{
        color: var(--grisoscuro);
        font-size: 25px;
        padding-top: 5px;
        margin: auto;
    }
    .footer-copyright{
        text-align: left;
       padding: 10px 10px;
        font-size: var(--title-footer-768px);
        color: var(--blanco);
    }
}
@media(min-width: 1200px) {
    .logo{
        width: 180px;
    }
}