@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

/* Bebas neue regular: nombre logo. Titulos/secciones principales.
Monserrat: textos secundarios. */

/* --- CONFIGURACIONES INICIALES --- */
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* IMPORTANTE LOS VALORES SE MODIFICA EN LOS VAR Y DESPUES
    HAY QUE AGREGAR VAR(Y EL NOMBRE) */
    /* COLORES */
    --blanco: #FFFFFF;
    --verde-footer1: #2E8780; 
    --verde: #77bda3;
    --verde-nav-footer: #263D42;
    --mostaza : #FAA916;
    --rojo: #96031A;
    /* FIRST MOVIL */
    --title-nav-MF: 24px;
    --title2-nav-MF: 26px;
    --title-footer-MF: 16px;
    --texto-footer-texto-MF: 12px;
    --button-nav-MF: 20px;
    /* MIN-WIDTH: 576px */
    --title-nav-576px: 32px;
    --title2-nav-576px: 36px;
    --title-footer-576px: 12px;
    --texto-footer-texto-576px: 12px;
    /* MIN-WIDTH: 768px */
    --title-nav-768px: 48px;
    --title2-nav-768px: 52px;
    --title-footer-768px: 12px;
    --texto-footer-texto-768px: 12px;
    /* MIN-WIDTH: 1200px */
    --title-nav-1200px: 48px;
    --title2-nav-1200px: 52px;
    --title-footer-1200px: 12px;
    --texto-footer-texto-1200px:12px;
}
/* --- HEADER --- */

.main-header{
    background-color: var(--verde-nav-footer);
    padding: 10px;
}
.main-logo{
    display: flex;
    align-items: center;
    justify-content:space-around;    
}

.logo{
    width: 90px;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all;
    -webkit-transition: transform 1300ms ease-in-out;
    -moz-transition:transform 1300ms ease-in-out;
    -ms-transition:transform 1300ms ease-in-out;
}
.logo:hover {
/*      transform:rotate(70deg); 
    transition-duration:1.3s; */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transition:all;
     -webkit-transition: transform 1300ms ease-in-out;
    -moz-transition:transform 1300ms ease-in-out;
    -ms-transition:transform 1300ms ease-in-out;

}
.logo-title1{
    font-family: 'Bebas Neue', cursive;
    color:var(--blanco);
    font-size: var(--title-nav-MF);
/*     padding-left: 20px; */
}
.logo-title2{
    font-family: 'Bebas Neue', cursive;
    color:var(--blanco);
    font-size: var(--title2-nav-MF);
}
.nav-iconos{
    display: none;
    padding: 10px 0 10px 10px;
    text-align: center;
    font-size: var(--button-nav-MF);

}
.nav-iconos a {
    color:  var(--blanco);
    padding-inline-start: 5px;
    margin: 4px;
}
.usuario {
    padding: 10px 0 10px 0px;
    text-align: center;
    font-size: var(--button-nav-MF);
    color:  var(--blanco);
    margin-right: 5px;
}

.burger-button{
    color: var(--blanco);
    padding: 10px 10px 10px 0;
    text-align: center;
    font-size: var(--button-nav-MF);
}
.main-nav{
    display: none;
    transition: 0.2s;
    
}
.main-nav ul li a:hover {
    color: var(--blanco);
    background: var(--verde);
    padding: 8px;
    border-radius: 5px;

}
.main-body{
    background: var(--negro);
    background: var(--gradiente);
}
/* --- MAIN --- */
/* ESTE MAIN ES DE PRUEBA, SE DEBE BORRAR */
body {
    background: var(--blanco);git

}
.container{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows:100px 300px;
    grid-gap:10px;
    grid-auto-flow: dense;
    margin:20px;
    padding:0;
    text-align:center;
    font-family: 'Bebas Neue';
}

.gallery-item{
    width:100%;
    height:100%;
    position:relative;
}

.gallery-item .image{
    width:100%;
    height:100%;
    overflow:hidden;
}

.gallery-item .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
    cursor:pointer;
    transition:.5s ease-in-out;
}
.gallery-item:hover .image img{
    transform:scale(1.5);
}

.gallery-item .text{
    opacity:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    font-size:25px;
    pointer-events:none;
    z-index:4;
    transition: .3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
}

.gallery-item:hover .text{
    opacity:1;
    animation: move-down .3s linear;
    padding:1em;
    width:100%;
}

.w-1{
    grid-column: span 1;
}
.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 3;
}
.w-4{
    grid-column: span 4;
}
.w-5{
    grid-column: span 5;
}
.w-6{
    grid-column: span 6;
}

.h-1{
    grid-row: span 1;
}
.h-2{
    grid-row: span 2;
}
.h-3{
    grid-row: span 3;
}
.h-4{
    grid-row: span 4;
}
.h-5{
    grid-row: span 5;
}
.h-6{
    grid-row: span 6;
}
/* ACA TERMINO EL MAIN, HASTA AHI SE PUEDE BORRAR */
/* --- FOOTER PRINCIPAL --- */
.footer{
    z-index:1600;
    position: relative;
    background-color: var(--verde-footer1);
}
.footer-main-1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.footer-nav ul{
    list-style: none;
}
.footer-title{
    font-size: var(--title-footer-MF);
    color: var(--negro);
    font-size: 11px;
    
}
.footer-info h5{
    text-decoration: none;
    color: var(--blanco);
    font-size: 10px;
    font-weight: normal;
    line-height: 1.3rem;
    
}
.footer-pay {
    line-height: 1.3rem;
}
.footer-nav a, .footer-info h5{
    text-decoration: none;
    color: var(--blanco);
    font-size: 10px;
    font-weight: normal;
}
.footer-icono i{
    color: var(--grisoscuro);
}
.footer-info iframe {
    display: none;
}

.footer-copyright{
    text-align: left;
   padding: 10px 10px;
    font-size: 7px;
    color: var(--blanco);

}
.footer-social {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--button-nav-MF);
    padding: 15px;
    color: var(--blanco);
    background-color:var(--verde-nav-footer);
}
/* BOTONCITO DEL WHATSAP */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:70px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:45px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.my-float{
	margin-top:8px;
}
@media(min-width: 576px){
    .logo{
        width: 90px;
    }
    .usuario {
        font-size: 30px;
        margin-right: 5px;
    }
    
    .burger-button{
        color: var(--blanco);
        padding: 10px;
        text-align: center;
        font-size: 30px;
    }
    .logo-title1{
        font-size: var(--title-nav-576px);
    }
    .logo-title2{
        font-family: 'Bebas Neue', cursive;
        color:var(--blanco);
        font-size: var(--title2-nav-576px);
    }
    .nav-iconos{
        padding: 10px;
        text-align: center;
        font-size: 25px;
    }
}
@media(min-width: 768px){
    .main-header{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        padding: 20px;
    }
    .burger-button{
        display: none;
    }
    .nav-iconos{
        display: flex;
    }
    .nav-iconos a {
        font-size: 30px;
    }
    .main-logo{
        justify-content: space-between;
        width: 100%;
    }
    .logo{
        width: 130px;
    }
    .logo-title1 ,.logo-title2{
        margin-left: auto;
        margin-right: auto;
    }
    .logo-title1{
        font-size: var(--title-nav-768px);
    }
    .logo-title2{
        font-size:var(--title2-nav-768px) ;
    }
    .main-nav{
        width: 100%;
        display: flex;
    }
    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin-top: 10px;
    }
    .navbar a{
        color:var( --blanco);
        text-decoration:none;
        font-size: 14px;
    } 
    .nav-iconos{
        padding: 10px;
        text-align: center;
        font-size: 20px;
    }
    
    .footer-info  iframe {
        display: flex;
        width: 250px;
        height: 250px;
        margin: 5px 0;
    }
    .footer-title{
        font-size: var(--title-footer-MF);
        color: var(--negro);
        font-size: 16px; 
    }
    .footer-info h5{
        text-decoration: none;
        color: var(--blanco);
        font-size: 14px;
        font-weight: normal;
        line-height: 1.3rem; 
    }
    .footer-nav a, .footer-info h5{
        font-size: 14px;
 
    }
    .footer-nav a{
        line-height: 2rem
    }
    .footer-pay {
        line-height: 2.5rem;
        font-size: 1.4rem;
    }

    .footer-copyright{
        text-align: left;
       padding: 10px 10px;
        font-size: 10px;
        color: var(--blanco);
    
    }

}
@media(min-width: 1200px) {
    .logo{
        width: 180px;
    }
}