<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/199cb6dc3b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Con una Pizca de Sal</title>
</head>
<body>
    <header class="main-header"> 
        <div class="main-logo">
            <img class="logo" src="images/LOGO_CUPSB.png" alt="Logo2">
            <div class="logo-title1">CON UNA<span class="logo-title2"> PIZCA DE SAL</span></div>
            <div class="nav-iconos">
                <a href=""><i class="fa-brands fa-tiktok"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
            </div>
            <div class="nav-iconos2">
                <a href="" class="usuario"><i class="fa-solid fa-user"></i></a>
                <a href="#" class="burger-button"><i class="fas fa-bars"></i></a>
            </div>
        </div>
        <nav class="main-nav">        
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Pedir Online</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Contactos</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-body">
        <div class="container">

            <div class="gallery-container w-3 h-2">
              <div class="gallery-item">
                <div class="image">
                  <img src="/images/Bondiola Braseada.jpg" alt="bondiola">
                </div>
                <div class="text">Bondiola Braseada</div>
              </div>
            </div>
        
            <div class="gallery-container w-3 h-3">
              <div class="gallery-item">
                <div class="image">
                  <img src="/images/Goulash.jpg" alt="goulash">
                </div>
                <div class="text">Goulash</div>
              </div>
            </div>
        
            <div class="gallery-container h-2">
              <div class="gallery-item">
                <div class="image">
                  <img src="/images/Picada Baires.JPG" alt="picadabaires">
                </div>
                <div class="text">Picada Baires</div>
              </div>
            </div>
        
            <div class="gallery-container w-2">
              <div class="gallery-item">
                <div class="image">
                  <img src="/images/Picada Closeup.jpg" alt="closeup">
                </div>
                <div class="text">Picada</div>
              </div>
            </div>
        
            <div class="gallery-container w-4 h-1">
              <div class="gallery-item">
                <div class="image">
                  <img src="/images/Picada Closeup2.jpg" alt="closeup2">
                </div>
                <div class="text">Picada</div>
              </div>
            </div>
        
            <div class="gallery-container">
              <div class="gallery-item">
                <div class="image">
                  <img src="/images/Picada XL.JPG" alt="picadaXL">
                </div>
                <div class="text">Picada XL</div>
              </div>
            </div>
        
            <div class="gallery-container h-2">
              <div class="gallery-item">
                <div class="image">
                  <img src="/images/Tarta Cebolla.JPG" alt="tarta">
                </div>
                <div class="text">Tarta de Cebolla</div>
              </div>
            </div>
        
            <div class="gallery-container">
              <div class="gallery-item">
                <div class="image">
                  <img src="/images/Wok de pollo.jpg" alt="wok">
                </div>
                <div class="text">Wok de pollo</div>
              </div>
            </div>
        
          </div>    

    </main>
    <footer class="footer">
        <section class="footer-main-1">
            <div class="footer-nav">
                <h4 class="footer-title">Navegaciones</h4>
                <ul>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Pedir Online</a></li>
                    <li><a href="#">Eventos</a></li>
                    <li><a href="#">Contactos</a></li>
                </ul>   
            </div>
            <div class="footer-info"> 
                <h4 class="footer-title">Informacion</h4>
                <h5 class="footer-title">Contactos:</h5>
                <h5 class="footer-texto">Telefono:</h5>
                <h5 class="footer-texto">Mail:</h5>
                <h5 class="footer-texto">Zonas de entrega</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15166.461204346939!2d-58.39073055006472!3d-34.6602152815044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sit!4v1675511733226!5m2!1ses!2sit" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="footer-pay"> 
                <h4 class="footer-title">Medio de Pagos</h4>
                <div class="footer-icono">
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-solid fa-money-bill-wave"></i>
                    <i class="fa-brands fa-cc-amex"></i>
                    <i class="fa-solid fa-money-bill-transfer"></i>
                    <i class="fa-brands fa-bitcoin"></i>
                    <h4 class="footer-title">Preguntas frecuentes</h4>
                    <h4 class="footer-title">Newsletter</h4>
                </div>
            </div>
        </section>
        <section class="footer-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-tiktok"></i><i class="fa-brands fa-youtube"></i>
        </section>
    </footer>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </body>
    </html>