<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/199cb6dc3b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Con una Pizca de Sal</title>
</head>
<body>
    <header class="main-header"> 
        <div class="main-logo">
            <img class="logo" src="images/LOGO_CUPSC.png" alt="Logo2">
            <div class="logo-title1">CON UNA<span class="logo-title2"> PIZCA DE SAL</span></div>
            <div class="nav-iconos">
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>   
            </div>
            <a href="#" class="burger-button"><i class="fas fa-bars"></i></a>
        </div>
        <nav class="main-nav">        
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Pedir Online</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Contactos</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorem officia voluptatum suscipit placeat, laudantium velit assumenda dolor corrupti distinctio, error recusandae ipsam saepe ad rerum culpa molestias deserunt itaque?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorem officia voluptatum suscipit placeat, laudantium velit assumenda dolor corrupti distinctio, error recusandae ipsam saepe ad rerum culpa molestias deserunt itaque?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorem officia voluptatum suscipit placeat, laudantium velit assumenda dolor corrupti distinctio, error recusandae ipsam saepe ad rerum culpa molestias deserunt itaque?</p>
    </main>
    <footer class="footer">
        <div class="footer-nav">
            <h4 class="footer-title">Navegaciones</h4>
            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Pedir Online</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Contactos</a></li>
            </ul>   
        </div>
        <div class="footer-pay"> 
            <h4 class="footer-title">Medio de Pagos</h4>
            <div class="footer-icono">
                <i class="fa-brands fa-cc-visa"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-solid fa-money-bill-wave"></i>
                <i class="fa-brands fa-cc-amex"></i>
                <i class="fa-solid fa-money-bill-transfer"></i>
                <i class="fa-brands fa-bitcoin"></i>
            </div>
        </div>
        <div class="footer-info"> 
            <h4 class="footer-title">Contactos:</h4>
            <h5 class="footer-texto">Telefono:</h5>
            <h5 class="footer-texto">Mail:</h5>
            <h5 class="footer-texto">DELIVERY SOLO CABA</h5>
        </div>
    </footer>
</body>
</html>