<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/199cb6dc3b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles-login.css">
    <title>Con una Pizca de Sal</title>
</head>
<body  class="main-body">
<header class="main-header"> 
    <div class="main-logo">
        <a href="/"><img class="logo" src="images/LOGO_CUPST.png" alt="Logo"></a>
        <div class="logo-title1">CON UNA<span class="logo-title2"> PIZCA DE SAL</span></div>
        <div class="nav-iconos">
            <a href=""><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://www.instagram.com/conunapizcadesal/?hl=es"><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
        </div>
        <div class="nav-iconos2">
            <a href="/login" class="usuario"><i class="fa-solid fa-user"></i></a>
            <a href="#" class="burger-button"><i class="fas fa-bars"></i></a>
        </div>
    </div>
    <nav class="main-nav">        
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="/productDetail">Pedir Online</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
    </nav>
</header>
<main class="main-login">
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Entra</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrate</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Usuario</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Contraseña</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Dejame siempre logueado</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Entra">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#forgot">Olvidaste tu contraseña?</a>
                    </div>
                </div>
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="label">Usuario</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Contraseña</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Repeti la contraseña</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Email</label>
                        <input id="pass" type="text" class="input">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Registrate">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Ya tenés tu cuenta?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <section class="footer-main">
      <div class="footer-nav">
          <h4 class="footer-title">Navegaciones</h4>
          <ul>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Menu</a></li>
              <li><a href="#">Pedir Online</a></li>
              <li><a href="#">Eventos</a></li>
              <li><a href="#">Contactos</a></li>
              <li><a href="#">Suscribite</a></li>
          </ul>   
      </div>
      <div class="footer-info"> 
          <h4 class="footer-title">Informacion</h4>
          <h5 class="footer-texto">Telefono: 11-6835-5475</h5>
          <h5 class="footer-texto">Mail: infopizcadesal@gmail.com</h5>
          <h5 class="footer-texto">Preguntas frecuentes</h5>
          <h4 class="footer-title">Medio de Pagos</h4>
          <div class="footer-icono">
          <i class="fa-brands fa-cc-visa"></i>
          <i class="fa-brands fa-cc-mastercard"></i>
          <i class="fa-solid fa-money-bill-wave"></i>
          <i class="fa-solid fa-money-bill-transfer"></i>
          <i class="fa-brands fa-bitcoin"></i>
          </div>
      </div>
      <div class="footer-entrega"> 
      <h4 class="footer-texto">Zonas de entrega</h4>
      <div class="footer-texto-entrega">Zona norte<br>
          Caba (corredor norte)</div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15166.461204346939!2d-58.39073055006472!3d-34.6602152815044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sit!4v1675511733226!5m2!1ses!2sit" width="220" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section>
    <div class="footer-copyright">
      <p> Copyright © 2023 | Todos los derechos reservados |</p>
    </div>
    <section class="footer-social">
        <i class="fa-brands fa-facebook"></i>
        <a href="https://www.instagram.com/conunapizcadesal/?hl=es"><i class="fa-brands fa-instagram"></i></a>
        <i class="fa fa-whatsapp"></i>
        <i class="fa-brands fa-tiktok"></i><i class="fa-brands fa-youtube"></i>
    </section>
  </footer>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <a href="https://api.whatsapp.com/send?phone=1168355475&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20productos%20." class="float" target="_blank">
          <i class="fa fa-whatsapp my-float"></i>
</body>
</html>