<main>
  <div class="section-list"></div>
      <nav>
        <ul>
          <li><a href="#">Tartas</a></li>
          <li><a href="#">Pizzas</a></li>
          <li><a href="#">Platos</a></li>
          <li><a href="#">Picadas</a></li>
          <li><a href="#">Delivery eventos</a></li>
        </ul>
      </nav>
    </div>
    
    <section class="section-foto">
      <div class="product">
        <img src="images/Picada_Clasica.jpg" alt="Descripción de la imagen del producto">
        <h2>Picada clasica</h2>
        <p>Comen 2 pican 4</p>
        <p>Precio: $3500</p>
        <button>Agregar al carrito</i></button>
      </div>
      <div class="product">
        <img src="images/Picada_Baires.jpg" alt="Descripción de la imagen del producto">
        <h2>Picada Baires</h2>
        <p>Comen 2 pican 4</p>
        <p>Precio: $3600</p>
        <button>Agregar al carrito</button>
      </div>
      <div class="product">
        <img src="images/Picada_Closeup.jpg" alt="Descripción de la imagen del producto">
        <h2>Picada Closeup</h2>
        <p>Comen 2 pican 4</p>
        <p>Precio: $3200</p>
        <button>Agregar al carrito</button>
      </div>
    </section>
  </main>
  