<%- include("../partials/head.ejs")%>
	<link rel="stylesheet" href="/css/styles-crear-productos.css">
</head>
<body>
<%- include("../partials/header.ejs")%>
 	<h1>Crear Producto</h1>
	<form method="POST" action="/productDetail" enctype="multipart/form-data">
		<label for="nombre">Nombre:</label>
		<input type="text" name="nombre">

		<label for="categoria">Categoria:</label>
		<br>
		<select name="categoria">
		  <option value="pizza">Pizza</option>
		  <option value="tarta">Tarta</option>
		  <option value="picada">Picada</option>
		  <option value="plato">Plato</option>
		</select>
		<br>
		<label for="descripcion">Descripción:</label>
		<textarea  name="descripcion"></textarea>
		
		<label for="precio">Precio:</label>
		<input type="number" name="precio">
 		
 		<label for="imagen">Imagen:</label>
		<input type="file" name="imagen">

		<input type="submit" value="Crear Producto">
	</form>
</body>
<%- include("../partials/footer.ejs")%>
</html>