<%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-productCart.css">
    <script src="/js/productDetail.js"></script>
</head>

<body  class="main-body">
<%- include("../partials/header.ejs")%>
<a href="/productDetail/productCart" style="display:none">
    <div class="cart-container" id="carrito" style="display:none">
        <div class="cart-icon" style="display:none">
            <i class="fas fa-shopping-cart" style="display:none"></i>
            <span class="cart-count" type="number" style="display:none">0</span>
          </div>
          
    </div>
  </a>
<main class="main-cart">
    <section class="top">
    <div class="titulos-detalle">
        <ul class="detalle-compra">
            <li class="producto-titulo">Producto</li>
            <li>Precio</li>
            <li>Cantidad</li>
        </ul>
    </div>
<section>
    <div class="prueba">

    </div>
</section>

            <div class="seguir-finalizar">
                <a href="/productDetail"><button class="boton-seguir"> Seguir comprando</button></a>
                <a href=""><button class="boton-finalizar" id="borrar-finalizar"> Finalizar compra</button></a>   
            </div>
        </section>

    </div>
</main>
<%- include("../partials/footer.ejs")%>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <a href="https://api.whatsapp.com/send?phone=1168355475&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20productos%20." class="float" target="_blank">
          <i class="fa fa-whatsapp my-float"></i>
</body>
</html>