
    <header class="main-header"> 
        <div class="main-logo">
            <a href="/"><img class="logo" src="images/LOGO_CUPST.png" alt="Logo"></a>
            <div class="logo-title1">CON UNA<span class="logo-title2"> PIZCA DE SAL</span></div>
            <div class="nav-iconos">
                <a href=""><i class="fa-brands fa-tiktok"></i></a>
                <a href="https://www.instagram.com/conunapizcadesal/?hl=es"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
            </div>
            <div class="nav-iconos2">
                <a href="/login" class="usuario"><i class="fa-solid fa-user"></i></a>
                <a href="#" class="burger-button"><i class="fas fa-bars"></i></a>
            </div>
        </div>
        <nav class="main-nav">        
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/quien-somos">Nosotros</a></li>
                <li><a href="/productDetail">Pedir Online</a></li>
                <li><a href="/eventos">Eventos</a></li>
                <li><a href="#">Contactos</a></li>
            </ul>
        </nav>
    </header>