<%- include("../partials/head.ejs")%>
	<link rel="stylesheet" href="/css/styles-contacto.css">
</head>
<body>
<%- include("../partials/header.ejs")%>
<article>
	<div class="contacto-imagen">
		<img src="images/contacto.png" alt="">
	</div>
</article>
</body>
<%- include("../partials/footer.ejs")%>
</html>