<%- include("../partials/head.ejs")%>
	<link rel="stylesheet" href="/css/styles-eventos.css">
</head>
<body>
<%- include("../partials/header.ejs")%>
<article>
	<div class="evento-imagen">
		<img src="images/evento2.png" alt="">
	</div>
	<div class="texto">
		<h2>¡Queremos formar parte de tu evento!</h2>
		<h3> Que tu única preocupación sea disfrutar</h3>
		<p>Catering presencial con menú pensado para vos.</p>
		<p>Y si buscas algo mas informail, preparamos todo y te lo llevamos a tu casa.</p>
		<h3>¡No dudes en consultarnos!</h3>
	</div>
	<div class="evento-imagen">
		<img src="images/contacto.png" alt="">
	</div>
</article>
</body>
<%- include("../partials/footer.ejs")%>
</html>