<%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body  class="main-body">
<%- include("../partials/header.ejs")%>
    <main class="main-body">
        <section class="main-section">
            <article class="main-areas">
                <% if (!locals.userLogged) { %>
                <a href="/users/signin"><h4 class="area-texto">Creá tu cuenta y tené 20% descuento</h4></a>
                <% } %>
                <img class="main-img" src="images/Picada_XL.jpeg" alt="foto-picada">
                <img class="main-img-1" src="images/Picada_XL_1.png" alt="foto-picada">
                <img class="main-img-2" src="images/Picada_XL_2.jpg" alt="foto-picada">
                <div class="main-button">
                    <a href="/productDetail"><button class="button"><i class="fa-solid fa-cart-shopping"></i>  Queres comer  rico?</button></a>
                </div>
            </article >
            <div>
                <% if (locals.userLogged) { %>
                    <div class="saludo-usuario">Hola <span style="text-transform: capitalize;"><%= userLogged.firstname %> </span>, Bienvenido!</div>
                   <% } %>
                </div>
            
            <article class="photo-area">
                <div class="litle-photo">
                    <a href="/productDetail/detalle/picada"><img src="images/Picada.jpg" alt=""></a>
                    <a href="/productDetail/detalle/picada"><h3 class="title-photo">Picadas</h3></a>
                </div>
                <div class="litle-photo">
                    <a href="/productDetail/detalle/tarta"><img src="images/Tarta_Cebolla.jpg" alt=""></a>
                    <a href="/productDetail/detalle/tarta"><h3 class="title-photo">Tartas</h3></a>
                </div>
                <div class="litle-photo">
                    <a href="/productDetail/detalle/pizza"><img src="images/pizza.jpg" alt=""></a>
                    <a href="/productDetail/detalle/pizza"><h3 class="title-photo">Pizzas</h3></a>
                </div>
                <div class="litle-photo">
                    <a href="/productDetail/detalle/plato"><img src="images/Goulash.jpg" alt=""></a>
                    <a href="/productDetail/detalle/plato"><h3 class="title-photo">Platos</h3></a>
                </div>
            </article>
            <article class="nosotros">
                <h1>Un poco de nuestra historia...</h1>
                <p> Con una pizca de sal nació hace 3 años con el objetivo de hacer mas simple el día a día de las personas. <br>
                    Somos apasionados por la cocina y buscamos compartir esa pasión con el mundo a través de nuestros productos, eventos y contenido. <br>
                    Nos encantaría que nos acompañen en este camino y se vuelvan fanáticos, por la comida, como nosotros.</p>
            </article>
            <article class="eventos">
                <h1><i class="fa-solid fa-utensils"></i>Eventos</h1>
                <p> Catering presencial con menú pensado para vos. <br>
                    Y si buscás algo mas informal, preparamos todo y te lo llevamos a tu casa.<br>
                    ¡No dudes en consultarnos!</vos></p>
            </article>
        </section>
    </main>
    <%- include("../partials/footer.ejs")%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <a href="https://api.whatsapp.com/send?phone=1168355475&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20productos%20." class="float" target="_blank">
          <i class="fa fa-whatsapp my-float"></i>
    </body>
    </html>