<%- include("../partials/head.ejs")%>
	<link rel="stylesheet" href="/css/styles-quiensomos.css">
</head>
<body>
<%- include("../partials/header.ejs")%>
<main class="main">
    <section class="about about--us">
        <h2 class="about__title">Sobre Nosotros</h2>
        <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus earum obcaecati est consequatur et laborum unde molestias velit! Quod, sequi est? Nostrum neque sequi, magnam recusandae modi itaque adipisci animi.</p>
        <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolorem excepturi est nemo placeat quos, obcaecati, possimus architecto nam expedita illo pariatur quasi quibusdam porro sit ducimus illum voluptates dolorum!</p>
        <h2 class="about__title">Nuestra historia</h2>
        <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus earum obcaecati est consequatur et laborum unde molestias velit! Quod, sequi est? Nostrum neque sequi, magnam recusandae modi itaque adipisci animi.</p>
    </section>
    <section class="values our--values">
        <h2 class="values__title">Nuestros Valores</h2>
        <ul class="values__list">
        <% valores.forEach(valor => { %>
            <li class="values__item"><%= valor  %></li>
        <% }) %>
<!--             <li class="values__item">sarosa</li>
            <li class="values__item">sarisa</li>
            <li class="values__item">saresa</li> -->
        </ul>
    </section>
    <section class="team meet--the--team">
        <h2 class="team__title">Conoce a nuestro chef</h2>
        <ul class="team__list">
            <li class="team__member">
                <img class="team__member-image" src="img/team-member-1.jpg" alt="Equipo 1">
                <h3 class="team__member-name">Nombre del miembro del equipo 1</h3>
                <p class="team__member-position">Cargo del miembro del equipo 1</p>
            </li>
        </ul>
    </section>
</main>
</body>
<%- include("../partials/footer.ejs")%>
</html>